#cart label, #cart a{
    pointer-events: none;
    color:#736d6d;
    text-decoration: underline;
    text-decoration-color: #736d6d;
    opacity: 0.8;
}

h2 {
  margin-bottom:1%;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  height:30px;
  width: 30px;
  margin: 0 2%;
}

.product-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 5%;
  margin-top: 3%;
  width: 100%;
}

.product{
  display:grid;
  grid-template-columns: 3fr 2fr 2fr 5fr;
  width:90%;
}

.product p{
  width:100%;
}

@media screen and (max-width: 780px){
    .product{
        grid-template-columns: 1fr 1fr;
    }

    .product-total{
        grid-template-columns: 1fr 1fr;
    }

    #submitBtn{
        grid-column: 2;
    }

}

#quantity {
  display: flex;
}

#quantity p{
  width:fit-content;
  margin: 0 5px
}

#quantity button{
  margin: 0 2px;
}

.total{
  margin: 1% 0;
  padding:1% 0;
  border-top: #736d6d solid 1px;
}

.pay-now{
  width: 120px;
  margin: 0;
  height: auto;
}

.no-products{
  margin:2%;
  font-size: 1.2rem;
}

