.order-container{
    border: 1px solid black;
    margin: 3%;
    padding: 2%;
}

.order-container h4{
    margin-bottom: 1%;
}

.order-items li{
    display:grid;
    grid-template-columns: 3fr 2fr 2fr 5fr;
}