/* base.html */

/* Nav */
.nav-bar{
    display: flex;
    background-color:#e7e5f7;
    align-items: center;
    font-size: larger;
    font-family: 'Noto sans';
}

.nav-link {
    color:#07377d;
}

.nav-link:hover{
    color:#736d6d;
    text-decoration-color: #736d6d;
}

a.active{
    color:#736d6d;
    text-decoration: underline;
    text-decoration-color: #736d6d;
}

.logo{
    min-width: 100px;
    max-width: 15%;
    height: auto;
}

.nav-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-right:10px;
}

.nav-hamburger{
    display: none;
}


/* Hamburger Navigation Menu on smaller screens*/
@media screen and (max-width: 650px){

    .nav-hamburger{
        display: flex;
        width: 100%;
        margin-right: 10px;
        justify-content: flex-end;
        list-style: none;
    }

    .nav-link{
        list-style: none;
        font-size: 2rem;
    }

    .nav-container{
        display: none;
    }

    .dropdown-menu{
        background-color: #e7e5f7;
        color: #07377d;
    }
}

/* index.html */
.hero{
    background-image: url('./images/tech.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height:95%;
    width:auto;
}

.intro-container{
    position: absolute;
    top:10rem;
    right:0;
    width: 25%;
}

.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    background-color: transparent;
    color: #07377d;
    position: relative;
    height: 350px;
    right:30px;
    top:2rem;
    padding:2%;
}

@media screen and (max-width: 1300px){
    .intro-container{
        position:relative;
        right: auto;
        left: auto;
        width:50%;
        margin: 0 auto;
        float: none;
    }

    .intro{
        position: relative;
        top:1rem;
        right: auto;
        left: auto;
        background-color: white;
        border-radius: 4px;
        border: solid 1px #736d6d;
        height: auto;
        font-size: 1rem;
    }

}

.enter{
    font-family: 'Noto sans';
    text-decoration: none;
    text-align: center;
    font-size: large;
    background-color: #07377d;
    color:#e3dbdb;
    border-radius: 4px;
    margin:2%; 
    line-height: 2;
}

.enter:hover{
    background-color:#e3dbdb;
    color: #07377d;
    border: solid #07377d 1px;
    transition: background-color 0.8s, color 0.8s, border 0.8s;
}

div.intro p{
    width: 80%;
    font-family: 'Noto sans';
    font-size: larger;
}



/* products.html*/

.product {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-basis: 15%;
    border: 1px solid gray;
    height: 320px;
    margin: 5%;
}

.thumbnail{
    width: 80%;
    margin-top:2%;
    margin-bottom:5%;
}

.title, .description{
    text-align: center;
    width: 80%;
}

.buy-btn{
    margin:2%;
}

.products-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;

}

@media screen and (max-width: 800px){
    .products-container{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 600px){
    .products-container{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 400px){
    .products-container{
        grid-template-columns: repeat(2, 1fr);
    }
}


/* Footer */

footer{
    position: sticky;
    margin-bottom: 0;
}


