/* Contains CSS Rules for elements login.html*/

#account a, #account label{
    color:#736d6d;
    text-decoration: underline;
    text-decoration-color: #736d6d;
    cursor:default;
    margin-bottom:3%;
    opacity: 0.8;
}

form a {
    display: block;
    margin-bottom: 5%;
    text-align:center;
}

form p:first-of-type{
    text-align:center;
}
