/* Contains CSS Rules for elements in register.html*/

.form-container{
    display:grid;
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-rows: 1fr 5fr;
}

form{
    grid-column: 2;
    grid-row: 2;
    margin: 0 auto;
    background-color: white;
    border-radius: 4px;
    color:hsl(216, 89%, 26%);
    width:98%;
    margin: 1%;
}


form input{
    display: block;
    margin: 1% 0;
    width:98%;
    line-height: 2;
}

form label{
    display: block;
    width:98%;
}

button {
    background-color: #07377d;
    color:#e3dbdb;
    border: solid #07377d 1px;
    border-radius: 4px;
    float:right;
    margin-right: 2%;
    font-size:1.3rem;
}

button:hover{
    background-color:#e3dbdb;
    color: #07377d;
    border: solid #07377d 1px;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
}

span.helptext, .form-group li{
    display: none;
}

.error-message{
    margin-left:2%;
    color:red;
}


@media screen and (max-width: 500px){
    .form-container {
        grid-template-columns: 1fr;
    }

    form{
        grid-column:1;
    }
}


