{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link href="{% static 'styles/base.css' %}" rel="stylesheet" >
    <link href="{% static 'styles/index.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="hero">
        <div class="intro-container">
            <p> Get the best deals on mobile phones and laptops from the comfort of home </p>
            <br>
            <form action="{% url 'products' %}" method="post">
                {% csrf_token %}
                <button type="submit">Shop&nbsp;Now</button>
            </form>
            
        </div>
    </div>
{% endblock content %}