{% extends 'base.html' %}

{% block content %}
    <div class="hero">
        <div class="intro-container">
            <div class="intro">
                <div>                
                    <p>Relax and get the best deals on mobile phones and laptops</p><br>
                    <p>Shop for tech from the comfort of home.</p>
                </div>
                <a class="enter btn" href="{% url 'products' %}">Shop&nbsp;Now</a>
            </div>
        </div>
    </div>
{% endblock content %}