{% extends 'base.html' %}
{% load static %}
{% load icons %}
{# Load the tag library #}
{% load bootstrap5 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}


{% block css %}
    <link href="{% static 'styles/base.css' %}" rel="stylesheet" >
    <link href="{% static 'styles/showcart.css' %}" rel="stylesheet">
    <script src="{% static 'script.js' %}" defer></script>
{% endblock %}

{% block content %}
<div class="product-container">
  <h2>Cart</h2>
  {% if productsets %}
    {% for productset in productsets %}
        <div class="product" id='{{ productset.product.id }}'>
          <p>{{ productset.product.title }}</p>
          <p>£{{ productset.getTotalCost }}</p>
          <div id="quantity">
            <form action="{% url 'decrement' productset.product.id  %}" method="post">
              {% csrf_token %}
              <button>-</button>
            </form>
            <p>{{ productset.quantity }}</p>
            <form action="{% url 'increment' productset.product.id %}" method="post">
              {% csrf_token %}
              <button>+</button>
            </form>
            <div>
              <form action="{% url 'removeCartItem' productset.product.id %}" method="post">
                  {% csrf_token %}
                  <button type="submit">{% icon 'trash' %}</button>
              </form>
            </div>
          </div>
        </div>  
    {% endfor %}
    <div class="product total">
      <p>Total: </p ><p id="total" totalToDisplay=0 total={{total}}>£{{total}}</p>
      <button class="pay-now">Pay&nbsp;Now</button>
    </div>
  {% endif %}
  {% if not productsets %}
  <p>Add <a  href="{% url 'products' %}">products</a> to your Cart</p>
  {% endif %}
{% endblock %}