{% extends 'base.html' %}
{% load static%}
{% load icons %}

{% block css %}
  <link href="{% static 'styles/base.css' %}" rel="stylesheet" >
  <link href="{% static 'styles/wishlist.css' %}" rel="stylesheet" >
{% endblock %}

{% block content %}
  <div class="product-container">
    <h2>Wish List</h2>
    {% for product in products %}
        <div class="product" id='{{ product.id }}'>
            <img class="thumbnail"  src= '{{ product.thumbnail }} '>
            <a href="{% url 'showProduct' product_id=product.id %}" ><strong>{{ product.title }}</strong></a>
            <p>{{ product.description }}</p>
            <p id="price">Price £{{ product.price }}</p>
            <div class="button-group">
                <form action="{% url 'addToCart' product_id=product.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Add&nbsp;To&nbsp;Cart</button>
                </form>
                <form action="{% url 'removeWishListItem' product_id=product.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit">{% icon 'trash' %}</button>
                </form>
            </div>
        </div> 
    {% endfor %}
    {% if products %}
    <form action="{% url 'deleteWishList' %}" method="post">
        {% csrf_token %}
        <button type="submit">Clear&nbsp;Wish&nbsp;List</button>
    </form>
    {% endif %}
    {% if not products %}
    <p>Add <a  href="{% url 'products' %}">products</a> to your Wishlist</p>
    {% endif %}
  </div>
  
  <div class="product-container-small-screen">
    <h2>Wish List</h2>
    {% for product in products %}
        <div class="product" id='{{ product.id }}'>
            <img  style="height:120px; width:180px;" src= '{{ product.thumbnail }} '>
            <a href="{% url 'showProduct' product_id=product.id %}" ><strong>{{ product.title }}</strong></a>
            <p>Price £{{ product.price }}</p>
            <div class="button-group">
                <form action="{% url 'addToCart' product_id=product.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Add&nbsp;To&nbsp;Cart</button>
                </form>
                <form action="{% url 'removeWishListItem' product_id=product.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit">{% icon 'trash' %}</button>
                </form>
            </div>
        </div> 
    {% endfor %}
        <div class="button-group ">
            <form action="{% url 'deleteWishList' %}" method="post">
                {% csrf_token %}
                <button type="submit">Clear&nbsp;Wish&nbsp;List</button>
            </form>
        </div>
  </div>
{% endblock %}