{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link href="{% static 'styles/base.css' %}" rel="stylesheet" >
    <link href="{% static 'styles/index.css' %}" rel="stylesheet">
    <link href="{% static 'styles/success.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="success-container">
      <p>Payment successful</p><br>
      <strong>Date: </strong>{{order.date}}<br>
      <strong>Order </strong>#{{order.id}}<br>
      <strong>Delivery address: </strong> {{order.address}}<br>
      <strong>Ordered items:</strong>
      <ul>
      {% for productset in order.productsets.all %}
        <li>{{productset.product.title}} (x{{productset.quantity}}) <strong>Unit price: </strong>£{{productset.product.price}}</li>
      {% endfor %}
      </ul>
    </div>
{% endblock %}