
/* Contains CSS Rules for elements in index.html*/

#home a{
    color:#736d6d;
    text-decoration: underline;
    text-decoration-color: #736d6d;
    cursor:default;
    opacity: 0.8;
}

.hero{
    background-image: url('../images/tech.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    height:95%;
    width:auto;
}

.intro-container{
    margin-top:5rem;
    margin-right:5rem;
    float: right;
    font-size: 2rem;
    width: 20%;
}

button {
    width: fit-content;
    height:auto;
    margin: 0 auto;
    padding-bottom : 2%;
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 4px;
}

button:hover{
    border: solid #07377d 1px;
    transition: background-color 0.8s, color 0.8s, border 0.8s;
}

@media screen and (max-width: 1510px){
    .hero{
        display: grid;
    }

    .intro-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        border-radius: 4px;
        text-align: center;
        font-size: 1.2rem;
        width:45%;
        margin: 15% auto;
        padding:2%;
    }

    p {
        width: 80%;
        padding:1%;
    }
}

@media screen and (max-width: 500px){
    .intro-container {
        width:80%;
    }

}



