/* Contains CSS Rules for elements in showProducts.html*/

.product-container{
    padding-top: 3%;
    display: grid;
    grid-template-columns: 5fr 6fr 1fr;
    grid-gap: 20px;
}

@media screen and (max-width: 700px){
    .product-container {
        grid-template-columns: 1fr;
    }

    .product-info {
        margin-left: 4%;
        margin-right: 4%;
    }

    h2 {
        margin-top: 3%;
    }
}

.carousel {
    margin-left: 4%;
}

.carousel-inner img{
    width: auto;
    height:400px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
}

.carousel-indicators {
    filter: invert(1);
}

.carousel-item img{
    margin:auto;
    width: 100%;
}

form{
    display: inline;
}

.breadcrumb-nav {
    display: inline;
}

form button {
    height:2rem;
}

.breadcrumb {
    display: flex;
    justify-content: flex-start;
    margin-top:2%;
    margin-left:2%;
}

.breadcrumb-item {
    margin-right:0;
}

.breadcrumb-nav a {
    color: #07377d;
    margin-right:0;
}
.breadcrumb-nav a:active {
    color:#736d6d;
}