#wish-list label, #wish-list a{
    pointer-events: none;
    color:#736d6d;
    text-decoration: underline;
    text-decoration-color: #736d6d;
    opacity: 0.8;
}

h2{
    display: inline-block;
    width:85%;
    margin: 1%;
}

.product-container{
    margin: 1%;
}

.product-container p{
    margin-left:1%;
    font-size: 1.2rem;
}

.product-container-small-screen{
    display: none;
}

.product {
    display: grid;
    border: black solid 1px;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    justify-content: flex-end;
    align-items: center;
    margin: 1%;
    margin-right: 2%;
}

.product img {
    width:180px;
    height: 120px;
}

.product a{
    color: #07377d;
    text-align: center;
}

#price{
    text-align: center;
}

.product p{
    text-align: left;
}

form{
    margin: 2%;
    float: right;
}

form button {
    height:2rem;
}

.button-group{
    margin-left:1%;
}

@media screen and (max-width: 1100px){

    .products-container-big{
        display: none;
    }

    .products-container-small{
        display: block;
    }

    .product{
        display: grid;
        border: black solid 1px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-content: center;
        align-items: center;
        margin: 1%;
    }

    .product a{
        text-align: center;
        margin-left: 2%;
    }

    .product p {
        margin-top:1rem;
        text-align:left;
    }

    .button-group {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        margin-top:1rem;
    }
}

@media screen and (max-width: 700px){
    .product{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        padding:1%;
    }

}

