{% extends "base.html" %}
{% load static %}

{% block css %}
  <link href="{% static 'styles/base.css' %}" rel="stylesheet" >
  <link href="{% static 'styles/register.css' %}" rel="stylesheet">
  <link href="{% static 'styles/login.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class="form-container">

    <form method="post" class="form-group">
      <h2>Log In</h2>
      <p>Don't have an account? </p>
      <a href = "{% url 'register' %}">Sign up here</a>
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="submit-btn">Log In</button>
    </form>
  </div>
{% endblock %}

